.header {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    padding: 0 30px;

    @media only screen and (max-width: 576px) {
        padding: 0;
    }
}

.nav {
    display: flex;

    @media only screen and (max-width: 576px) {
        display: none;
    }
}

.logOut {
    flex: 1;
    text-align: right;

    &> span {
        cursor: pointer;

        &:hover {
            color: #2B50ED;
        }
    }
}