.journalContainer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.item {
    padding: 20px;
    margin-bottom: 10px;
    border: 2px solid #E0E8F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

   &> div {
        margin-right: 82px;
    }

    &.fullReport {
        background: #E0E8F6;
    }
}

.date {
    font-family: 'Open Sans Bold';
    font-size: 16px;
    line-height: 23px;
}

.weight {
    font-size: 16px;
    line-height: 23px;

    &> span {
        margin-left: 4px;
        color: #5A5F6D;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationBtn {
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    background-color: #E0E8F6;
    font-family: 'Open Sans Bold';
    color: #5A5F6D;
    cursor: pointer;

    &.active {
        color: #2B50ED;
    }

    &:hover {
        color: #fff;
        background-color: #2B50ED;
    }
}

.pagArrowPrev,
.pagArrowNext {
    background: #E0E8F6 url("../../Icon/icons/arrow.svg") center no-repeat;
    background-size: cover;
    width: 24px;
    height: 32px;
    cursor: pointer;

    &:hover {
        background: #2B50ED url("../../Icon/icons/arrow-white.svg") center no-repeat;
        background-size: cover;
    }
}

.pagArrowNext {
    transform: rotate(180deg);
}